@model IEnumerable<Teams>

<a asp-action="Index" asp-controller="Home" asp-route-filterid="">Home</a>
<br />

@foreach (var x in Model)
{
    <a asp-action="Index" asp-controller="Home" 
       asp-route-filterid="@x.TeamId"
       asp-route-filter="@x.TeamName">
    @x.TeamName</a>
    <br />
}
